* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', monospace;
  position: relative;
  min-height: 100vh;
  padding-bottom: 300px;
}

h1,
h2,
h3,
p {
  padding: 10px;
}
li {
  list-style: none;
}

header {
  background-color: transparent;
  padding: 10px;
  color: rgb(49, 40, 42);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .name {
    h1 {
      position: relative;
      right: 10px;
    }
    span {
      position: relative;
      left: 10px;
    }
  }
}

main {
  margin-bottom: 200px;
  max-width: 1024px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about {
  background-color: #9f497e;
  color: white;
  padding: 10px;
}

.picture-of-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.robin-picture {
  padding: 20px;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.education {
  background-image: url('../img/pexels-photo-399160.webp'); // thank you pexels //
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

.form-function {
  text-align: center;
  position: relative;
  font-style: italic;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.skills {
  background-color: white;
  margin-top: 20px;
  h2 {
    font-size: 1.5rem;
  }
  span {
    color: orangered;
    margin-right: 10px;
  }

  li {
    padding: 10px;
  }
}

.experience,
.keges,
.strandakar {
  padding: 10px;
  background-color: #647295;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(49, 40, 42);
  color: white;
}

.contact,
.social-media {
  padding: 10px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  span {
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-image: linear-gradient(90deg, #d200a2, #d488c2);
    background-size: 0% 5px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.3s ease;
  }
}

.contact a:hover,
.social-media a:hover {
  background-size: 100% 5px;
}

.weather-app,
.to-the-moon,
.ketchup,
.kommandoran {
  width: 100%;
  border-radius: 10%;
  margin-block: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.weather-app:hover {
  scale: 1.05;
  transition: 0.5s ease-in;
}

.to-the-moon:hover {
  scale: 1.05;
  transition: 0.5s ease-in;
}

.kommandoran:hover {
  scale: 1.05;
  transition: 0.5s ease-in;
}

.ketchup:hover {
  scale: 1.05;
  transition: 0.5s ease-in;
}

.projects {
  background-color: #9f497e;
  color: white;
  padding: 30px;
  width: 100%;
  .project-header {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .projects-container-one,
  .projects-container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
  }
}

.gear-wheel-container {
  width: 100px;
}
