main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  margin: auto;
  margin-bottom: 100px;
}

header {
  margin-bottom: 30px;
}

.about {
  grid-column: 1 / span 3;
}

.picture-of-me {
  grid-column: 4 / span 3;
  grid-row: 1 / span 2;
}

.education {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.skills {
  grid-column: 4 / span 3;
}

.experience {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.projects {
  grid-column: 1 / span 6;
}

.projects-container {
  display: inline-flex;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(49, 40, 42);
  color: white;
}
